{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}

{% block blackgroud %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
<h1>Contacto</h1>
        <span class="subheading">Asesoría</span>
 {% endblock %}


{% block content %}
<div class="row"> 
<div class="col-lg-8 col-md-10 mx-auto">
<p>Contatame por cualquiera de estos dos medios para una mejor comunicación</p>
    <br>
<p><b>Whatsapp:</b> +57 30048936297</p>
<p><b>Correo electronico:</b> juan.orozcoco@gmail.com</p>
</div>  
</div>
{% endblock %}


